
<table class="table bootstrap-datatable datatable">
      <thead>
        <tr>
{% if not services %}
        <div class="col-xs-11 col-xs-offset-1">
        <hr></hr>
            No services configured
        </div>
        </tr>
{% else %}
          <th>Name</th>
          <th>Overall</th>
          <th>Active checks</th>
          <th>Disabled checks</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for service in services %}
        <tr class="{% if service.alerts_enabled %}enabled{% else %}warning{% endif %}">
          <td>
            <a href="{% url "service" pk=service.id %}" title="Alerts {% if service.alerts_enabled %}enabled{% else %}disabled{% endif %}">{{service.name}} </a>
          </td>
          <td>
          {% if not service.alerts_enabled %}
            <span class="label label-warning">Disabled</span>
          {% else %}
            {% include 'cabotapp/_service_label.html' with service=service only %}
          {% endif %}
          </td>
          <td>
            <span class="label label-{% if service.active_checks_count > 0 %}{% if service.overall_status != service.PASSING_STATUS %}danger{% else %}success{% endif %}{% else %}default{% endif %}">{{ service.active_checks_count }}</span>
          </td>
          <td>
            <span class="label label-{% if service.inactive_checks_count > 0 %}warning{% else %}default{% endif %}">{{ service.inactive_checks_count }}</span>
          </td>
          <td class="text-right">
            <a class="btn btn-xs" href="{% url "update-service" pk=service.id %}" role="button">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
{% endif %}
    </table>
