{% extends 'base.html' %}
{% load extra %}

{% block title %}{{ block.super }} - Acknowledgements{% endblock title %}

{% block content %}
{# used so check link anchors are offset by the navbar height #}
<style>
a.link-anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}
</style>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-1"><h2><i class="glyphicon glyphicon-flag"></i></h2></div>
      <div class="col-xs-11"><h2><span class="break"></span>Acknowledgements</h2></div>
    </div>
  </div>
  <hr>

  {% regroup acks by status_check as ack_groups %}
  {% for group in ack_groups %}
  {% with group.grouper as check %}
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-8"><a id="check-{{ check.id }}" class="link-anchor"></a><h3><i class="fa fa-cog"></i>&nbsp<a href="{% url 'check' pk=check.pk %}"> {{ check.name }}</a></h3></div>
      <div class="col-xs-4 text-right">
        <h3>
          <a href="{% url 'create-ack' %}?check_id={{ check.pk }}" class="" title="New ack"><i class="glyphicon glyphicon-plus"></i></a>
        </h3>
      </div>
    </div>
  </div>
  <hr>

  {# List of acks under this check #}
  <div class="row">
    <div class="col-xs-12">
        <table class="table bootstrap-datatable datatable">
          <thead>
            <tr>
              <th>Match Type</th>
              <th>Tags</th>
              <th>Created by</th>
              <th>Created at</th>
              <th>Expires</th>
              <th></th>  {# for edit/delete buttons #}
            </tr>
          </thead>
          <tbody>
            {% for ack in group.list %}
            <tr class="enabled">  {# <- set class to warning for colored row background #}
              <td>
                <span>{{ack.match_if}}</span>
              </td>
              <td>
                <span class="">{{ ack.tags.all|join:", " }}</span>
              </td>
              <td>
                {{ ack.created_by.username|default:'Anonymous User' }}  {# TODO full name + email here #}
              </td>
              <td>
                {{ ack.created_at }}
              </td>
              <td>
                {# this is ugly as hell because there are no array literals in django templates :| #}
                {% if not ack.expire_at and not ack.close_after_successes %}
                  <i>never</i>
                {% else %}
                  {% if ack.expire_at %}
                    at {{ ack.expire_at }}
                  {% endif %}
                  {% if ack.expire_at and ack.close_after_successes %}or{% endif %}
                  {% if ack.close_after_successes %}
                    after {{ ack.close_after_successes }} success{% if ack.close_after_successes > 1 %}es{% endif %}
                  {% endif %}
                {% endif %}
              </td>
              <td class="text-right">
                <a class="btn btn-xs" href="">
                  <i class="glyphicon glyphicon-edit" title="Edit ack"></i><span class="break"></span>
                </a>
                <a class="btn btn-xs" href="{% url 'close-ack' pk=ack.pk %}" title="Close">
                  <i class="glyphicon glyphicon-ok"></i><span class="break"></span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  {% endwith %}
  {% empty %}
  <div class="col-xs-11 col-xs-offset-1">No active acknowledgements.</div>
  {% endfor %}


  {# recently closed acks #}
  <br/><br/>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-1"><h2><i class="glyphicon glyphicon-check"></i></h2></div>
      <div class="col-xs-11"><h2><span class="break"></span>Closed Acknowledgements</h2></div>
    </div>
  </div>
  <hr>

  {% if closed_acks %}
    <div class="row">
      <div class="col-xs-12">
        <table class="table bootstrap-datatable datatable">
          <thead>
          <tr>
            <th>Check</th>
            <th>Created by</th>
            <th>Created at</th>
            <th>Closed at</th>
            <th>Reason</th>
            <th></th>  {# for clone #}
          </tr>
          </thead>
          <tbody>
          {% for ack in closed_acks %}
            <tr class="enabled">
              <td title="{{ ack.match_if }} on {{ ack.tags.all|join:", " }}">
                <a href="{% url 'check' pk=ack.status_check.pk %}">{{ack.status_check.name}}</a>
              </td>
              <td title="">
                {{ ack.created_by.username }}
              </td>
              <td title="">
                {{ ack.created_at }}
              </td>
              <td title="">
                {{ ack.closed_at }}
              </td>
              <td title="">
                {{ ack.closed_reason }}
              </td>
              <td title="">
                <a class="btn btn-xs" href="{% url 'reopen-ack' pk=ack.pk %}">
                  <i class="glyphicon glyphicon-open" title="Reopen"></i><span class="break"></span>
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <div class="col-xs-11 col-xs-offset-1">No recently closed acknowledgements.</div>
  {% endif %}
{% endblock content %}

{% block js %}
  {% load compress %}
  {% load jsonify %}
  {{ block.super }}
  {% compress js %}
  {% endcompress %}
{% endblock js %}
